
.about {
  color: $color-light-shaft;
  @include clearfix;
  margin-top: 68px;

  @include breakpoint ('tablet') {
    margin-top: 41px;
  }


  &__img {
    background-position: 100% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/photo-mobile.jpg');
    height: 200px;
  }

  &__info {
    margin-top: 111px;

    @include breakpoint ('tablet') {
      margin-top: 70px;
    }

    .about__description {
      margin-bottom: 21px;

      @include breakpoint ('tablet') {
        margin-bottom: 18px;
      }
    }
  }

  &__container {
    max-width: 955px;
    width: 100%;

    @include breakpoint ('tablet') {
      max-width: 656px;
    }

    @include breakpoint ('phone-max') {
      margin-bottom: 2px;
      margin-top: 40px;
      max-width: 320px;
    }

    &--full-width {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      position: relative;

      @include breakpoint ('phone-max') {
        margin-top: 0;
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        width: 50%;
        top: 0;
        bottom: 0;
        min-height: 403px;
        height: auto;

        @include breakpoint ('tablet') {
          min-height: 441px;
        }

        @include breakpoint ('phone-max') {
          width: 100%;
          min-height: 407px;
        }
      }

      &:after {
        background-color: $color-lochmara;
        left: 0;

        @include breakpoint ('phone-max') {
          left: 0;
          right: 0;
        }
      }

      &:before {
        background-color: $color-gallery;
        right: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/assets/photo.jpg');
        height: 403px;

        @include breakpoint ('tablet') {
          height: 441px;
        }

        @include breakpoint ('phone-max') {
          display: none;
        }
      }

      .about__container {
        position: relative;
        z-index: 2;
        color: $color-white;

        @include breakpoint ('phone-max') {
          margin-top: 0;
        }
      }
    }
  }

  &__wrapper {
    color: $color-light-black;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      height: 30px;
      width: 30px;
      background-color: $color-white;
      border: 5px solid $color-lochmara;
      border-radius: 50%;

      @include breakpoint ('tablet') {
        border-width: 4px;
        height: 25px;
        width: 25px;
      }

      @include breakpoint ('phone-max') {
        border-width: 3px;
        height: 15px;
        width: 15px;
      }
    }

    &--left,
    &--right {
      height: 100%;

      &:after {
        @include breakpoint ('phone-max') {
          left: 0 !important;
          right: auto !important;
          top: 2px;
        }
      }
    }

    &--left {
      padding-right: 17%;

      @include breakpoint ('phone-max') {
        padding-right: 0;
        padding-left: 24px;
      }

      &:after {
        right: -39px;

        @include breakpoint ('tablet') {
          right: -27px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        background-color: $color-mine-shaft;
        right: 0;
        width: 1px;
        height: 100%;
        right: -24px;

        @include breakpoint ('tablet') {
          right: -14px;
        }

        @include breakpoint ('phone-max') {
          display: none;
        }
      }
    }

    &--right {
      padding-left: 24%;

      @include breakpoint ('tablet') {
        padding-left: 16%;
      }

      @include breakpoint ('phone-max') {
        padding-left: 24px;
      }

      &:after {
        left: -21px;

        @include breakpoint ('tablet') {
          left: -28px;
        }

        @include breakpoint ('phone-max') {
          display: none;
        }
      }
    }
  }

  &__wrapper-full-width {
    color: $color-white;
    padding-top: 30px;
    padding-right: 20%;

    @include breakpoint ('phone-max') {
      padding-top: 38px;
      padding-right: 0;
      margin-top: 0;
    }
  }


  &__title {

    font-size: 30px;
    line-height: 1;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-bottom: 4px;

    @include breakpoint ('tablet') {
      font-size: 22px;
      word-spacing: 3px;
    }

    @include breakpoint ('phone-max') {
      @include font-size--k;
      line-height: 1;
      word-spacing: 0;
      margin-bottom: 5px;
    }

    &--date {
      margin-bottom: -2px;

      @include breakpoint ('tablet-max') {
        margin-bottom: 0;
      }
    }
  }

  &__subtitle {
    @include font-size--c;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include breakpoint ('tablet-max') {
      @include font-size--a;
    }

    @include breakpoint ('phone-max') {
      margin-bottom: 16px;
    }
  }

  &__subtitle,
  &__description {
    @include font-base-light;
  }

  &__description {
    @include font-size--e;
    line-height: 23px;
    margin-bottom: 25px;

    @include breakpoint ('tablet-max') {
      @include font-size--c;
      line-height: 22px;
      margin-bottom: 21px;
    }

    @include breakpoint ('phone-max') {
      margin-bottom: 32px;
    }
  }
}
