
.about {
  color: $color-light-shaft;
  @include clearfix;

  &__separator-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    width: 100%;

    &--w-50 {
      max-width: 50%;
      width: 50%;
    }
  }

  &__separator {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      background-color: $color-mine-shaft;
      right: 0;
      width: 1px;
      height: 100%;

      @include breakpoint ('phone-max') {
        display: none;
      }
    }

    &--right {
      &:before {
        right: -16px;

        @include breakpoint ('tablet') {
          right: -15px;
        }
      }
    }

    &--right-bottom {
      &:before {
        right: 0;
        left: auto;
        height: 192px;
        top: -78px;

        @include breakpoint ('tablet') {
          bottom: 190px;
        }
      }
    }

    &--right-top {
      &:before {
        top: -5px;
        right: -21px;
        left: auto;
        bottom: auto;
        height: 100px;

        @include breakpoint ('tablet') {
          right: -20px;
          height: 30px;
        }
      }
    }

    &--right-text {
      @include breakpoint ('tablet') {
        padding-bottom: 52px;
      }
    }

    &--left {
      &:before {
        left: -15px;

        @include breakpoint ('tablet') {
          left: -16px;
        }

        @include breakpoint ('phone-max') {
          display: none;
        }
      }
    }

    &--left-small {
      &:before {
        left: 0;
        height: 20px;
      }
    }

    &--left-white {
      &:before {
        background-color: $color-white;
        left: 0;
        right: auto;
        z-index: 1;
        height: 403px;

        @include breakpoint ('tablet') {
          height: 441px;
        }
      }
    }

    &--top {
      &:before {
        height: 1px;
        width: 50%;
        bottom: auto;
        top: -1px;
        left: 0;

        @include breakpoint ('tablet') {
          top: 0px;
        }
      }
    }

    &--top-full-width {
      &:before {
        width: 100%;
        height: 1px;
        top: 19px;
      }
    }
  }

  &__img {
    background-position: 100% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/photo-mobile.jpg');
    height: 200px;
  }

  &__info {
    margin-top: 111px;

    @include breakpoint ('tablet') {
      margin-top: 70px;
    }

    .about__description {
      margin-bottom: 21px;

      @include breakpoint ('tablet') {
        margin-bottom: 18px;
      }
    }
  }

  &__container {
    margin-top: 68px;
    max-width: 955px;
    width: 100%;

    @include breakpoint ('tablet') {
      margin-top: 41px;
      max-width: 656px;
    }

    @include breakpoint ('phone-max') {
      margin-bottom: 2px;
      margin-top: 40px;
      max-width: 320px;
    }

    &--full-width {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      position: relative;
      margin-top: -48px;
      min-height: 403px;

      @include breakpoint ('tablet-max') {
        margin-top: -21px;
        min-height: 441px;
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        width: 50%;
        top: 0;
        bottom: 0;
        min-height: 403px;
        height: auto;

        @include breakpoint ('tablet') {
          min-height: 441px;
        }

        @include breakpoint ('phone-max') {
          width: 100%;
          min-height: 407px;
        }
      }

      &:after {
        background-color: $color-lochmara;
        left: 0;

        @include breakpoint ('phone-max') {
          left: 0;
          right: 0;
        }
      }

      &:before {
        background-color: $color-gallery;
        right: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/assets/photo.jpg');
        height: 403px;

        @include breakpoint ('tablet') {
          height: 441px;
        }

        @include breakpoint ('phone-max') {
          display: none;
        }
      }

      .about__container {
        position: relative;
        z-index: 2;
        color: $color-white;

        @include breakpoint ('phone-max') {
          margin-top: 0;
        }
      }
    }
  }

  &__wrapper {
    color: $color-light-black;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      height: 30px;
      width: 30px;
      background-color: $color-white;
      border: 5px solid $color-lochmara;
      border-radius: 50%;

      @include breakpoint ('tablet') {
        border-width: 4px;
        height: 25px;
        width: 25px;
      }

      @include breakpoint ('phone-max') {
        border-width: 3px;
        height: 15px;
        width: 15px;
      }
    }

    &--left,
    &--right {
      height: 100%;

      &:after {
        @include breakpoint ('phone-max') {
          left: 0 !important;
          right: auto !important;
          top: 2px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        height: 50px;
        width: 40px;
        background-color: $color-white;

        @include breakpoint ('tablet') {
          height: 44px;
        }
      }
    }

    &--left {
      padding-right: 17%;
      // padding-bottom: 78px;

      @include breakpoint ('phone-max') {
        padding-right: 0;
        padding-left: 24px;
      }

      &:after {
        right: -31px;

        @include breakpoint ('tablet') {
          right: -27px;
        }
      }

      &:before {
        right: -36px;
        top: -11px;
      }
    }

    &--right {
      padding-left: 24%;

      @include breakpoint ('tablet') {
        padding-left: 16%;
      }

      @include breakpoint ('phone-max') {
        padding-left: 24px;
      }

      &:after {
        left: -28px;

        @include breakpoint ('tablet') {
          left: -28px;
        }
      }

      &:before {
        left: -36px;
        top: -11px;
      }
    }
  }

  &__wrapper-full-width {
    color: $color-white;
    padding-top: 30px;
    padding-right: 20%;

    @include breakpoint ('phone-max') {
      padding-top: 38px;
      padding-right: 0;
      margin-top: 0;
    }
  }


  &__title {

    font-size: 30px;
    line-height: 1;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-bottom: 4px;

    @include breakpoint ('tablet') {
      font-size: 22px;
      word-spacing: 3px;
    }

    @include breakpoint ('phone-max') {
      @include font-size--k;
      line-height: 1;
      word-spacing: 0;
      margin-bottom: 5px;
    }

    &--date {
      margin-bottom: -2px;

      @include breakpoint ('tablet-max') {
        margin-bottom: 0;
      }
    }
  }

  &__title-vertical {
    font-size: 12px;
    letter-spacing: 2px;
    z-index: 2;
    position: absolute;
    top: 50%;
    text-transform: uppercase;

    @include breakpoint ('tablet') {
      font-size: 11px;
      letter-spacing: 1px;
    }

    @include breakpoint ('phone-max') {
      display: none;
    }


    &--left {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      left: -14px;
      margin-top: -10px;

      @include breakpoint ('tablet') {
        left: -10px;
      }
    }

    &--right {
      right: -43px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);

      @include breakpoint ('tablet') {
        right: -37px;
        margin-top: 9px;
      }
    }

    &--white {
      color: $color-white;

      span {
        background-color: $color-lochmara;
      }
    }

    &--black {
      color: $color-mine-shaft;

      span {
        background-color: $color-white;
      }
    }

    span {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__subtitle {
    @include font-size--c;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include breakpoint ('tablet-max') {
      @include font-size--a;
    }

    @include breakpoint ('phone-max') {
      margin-bottom: 16px;
    }
  }

  &__subtitle,
  &__description {
    @include font-base-light;
  }

  &__description {
    @include font-size--e;
    line-height: 23px;
    margin-bottom: 25px;

    @include breakpoint ('tablet-max') {
      @include font-size--c;
      line-height: 22px;
      margin-bottom: 21px;
    }

    @include breakpoint ('phone-max') {
      margin-bottom: 32px;
    }
  }
}
