.applications {
  font-size: 0;
  margin: -3px;

  @include breakpoint ('phone-max') {
    margin: -3px auto;
    max-width: 320px;
  }

  &__item {
    width: 33.333%;
    display: inline-block;
    height: 350px;
    vertical-align: top;
    text-align: center;
    padding: 0 3px;
    margin: 3px 0;

    @include breakpoint ('tablet') {
      height: 230px;
    }

    @include breakpoint ('phone-max') {
      width: 100%;
      height: 186px;
      padding: 0;
    }

    &--silver {

      .applications__link {
        background-color: $color-gallery;
      }

      .applications__text {
        color: $color-mine-shaft;
        padding: 0 56px;
        opacity: 1 !important;

        @include breakpoint ('tablet') {
          padding: 0 28px;
        }
      }

      .applications__icon {

        i {
          color: $color-lochmara;
          opacity: 1 !important;
        }
      }
    }
  }

  &__link {
    background-color: $color-gallery;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

    &:hover {

      .applications__overlay {
        opacity: 0;
      }

      .applications__text {
        opacity: 0;
      }

      .applications__icon {

        i {
          opacity: 0;
        }

        img {
          opacity: 1;
        }
      }
    }
  }

  &__image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__box {
    padding-top: 95px;
    position: relative;
    z-index: 2;

    @include breakpoint ('tablet') {
      padding-top: 48px;
    }

    @include breakpoint ('phone-max') {
      padding-top: 40px;
    }
  }

  &__icon {
    margin-bottom: 24px;
    position: relative;
    padding-bottom: 60px;

    @include breakpoint ('tablet') {
      padding-bottom: 40px;
    }

    @include breakpoint ('phone-max') {
      padding-bottom: 35px;
      margin-bottom: 10px;
    }

    i {
      color: $color-white;
      font-size: 60px;
      opacity: 1;
      position: absolute;
      left: 0;
      right: 0;
      transition: opacity 350ms ease-in-out;

      @include breakpoint ('tablet') {
        font-size: 46px;
      }

      @include breakpoint ('phone-max') {
        font-size: 35px;
      }
    }

    img {
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: opacity 350ms ease-in-out;

      @include breakpoint ('tablet') {
        width: 46px;
        height: 46px;
      }

      @include breakpoint ('phone-max') {
        width: 35px;
        height: 35px;
      }
    }
  }

  &__title {
    font-size: 18px;
    letter-spacing: 3.5px;
    color: $color-white;
    margin-bottom: 7px;

    @include breakpoint ('tablet') {
      font-size: 14px;
      letter-spacing: 2.8px;
    }

    @include breakpoint ('phone-max') {
      font-size: 14px;
      letter-spacing: 2.8px;
    }
  }

  &__text {
    color: $color-white;
    font-size: 14px;
    letter-spacing: -.2px;
    line-height: 23px;
    padding: 0 30px;
    opacity: 1;
    transition: opacity 350ms ease-in-out;

    @include breakpoint ('tablet') {
      font-size: 12px;
      line-height: 22px;
      padding: 0 25px;
    }

    @include breakpoint ('phone-max') {
      font-size: 12px;
      line-height: 22px;
      padding: 0 18px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,102,157,0.8);
    z-index: 1;
    opacity: 1;
    transition: opacity 350ms ease-in-out;
  }
}
