.applications__page {

  .applications__line-first {
    transform: rotate(90deg);
    right: 23px;
    transform-origin: 100% 100%;
    left: auto;
    top: 92px;
    border-top: 1px solid $color-white;

    @include breakpoint('tablet') {
      top: 46px;
    }
  }

  .applications__line-second {
    transform: rotate(90deg);
    transform-origin: 100% 100%;
    left: auto;
    bottom: -17px;
    right: 23px;
    border-top: 1px solid $color-white;
  }

  .applications__line-text {
    left: auto;
    right: 31px;
    top: 214px;
    transform: rotate(90deg);
    color: $color-white;
    transform-origin: 100% 100%;

    @include breakpoint('tablet') {
      top: 156px;
    }
  }

  .project__line-first {
    transform: rotate(90deg);
    transform-origin: 100% 100%;
    left: auto;
    bottom: 0;
    right: 0;
  }

  .project__text {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    right: auto;
    left: -7px;
    top: 153px;

    @include breakpoint('tablet') {
      left: -5px;
      top: 144px;
    }
  }

  .project__line-third {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    width: 55px;
    right: auto;
    left: 0;
    top: 55px;
  }

  .project__line-fourth {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    width: 55px;
    right: auto;
    left: 0;
    bottom: -20px;
  }
}
