.banner {
  position: relative;
  height: 700px;
  padding-top: 106px;

  @include breakpoint ('tablet') {
    padding-top: 81px;
  }

  &__image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__inner {
    max-width: 931px;
    padding-top: 75px;
    margin: 0 auto;
    @include clearfix;
    position: relative;
    height: 100%;

    @include breakpoint ('tablet') {
      max-width: 626px;
      padding-top: 76px;
    }
  }

  &__box {
    z-index: 2;
    max-width: 477px;
    float: right;
    text-align: right;

    @include breakpoint ('tablet') {
      max-width: 436px;
    }
  }

  &__title {
    margin-bottom: 13px;

    h1 {
      color: $color-white;
      @include font-base-medium;
      font-size: 34px;
      letter-spacing: 1.8px;
      line-height: 40px;
      margin: 0;

      @include breakpoint ('tablet') {
        font-size: 30px;
        letter-spacing: 1.4px;
        line-height: 36px;
      }
    }
  }

  &__description {
    color: $color-white;
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 25px;
    margin-bottom: 20px;

    @include breakpoint ('tablet') {
      font-size: 12px;
      line-height: 22px;
      padding-left: 20px;
    }
  }

  &__arrow {
    position: absolute;
    z-index: 2;
    clear: both;
    bottom: 56px;
    right: 0;

    a {
      display: block;
    }

    i {
      color: white;
      font-size: 30px;
    }
  }
}
