.btn {
  border-radius: 0;
  @include font-base-regular;

  &--sent,
  &--submit {
    background-color: $color-lochmara;
    border-color: $color-lochmara;
    margin-top: 11px;
    padding: 0 37px 0 38px;
    line-height: 35px;
    letter-spacing: 3px;
    @include font-size--e;
    text-transform: uppercase;
    height: 35px;

    @include breakpoint ('tablet') {
      @include font-size--c;
      height: 30px;
      line-height: 30px;
    }

    @include breakpoint ('phone-max') {
      @include font-size--a;
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 10px;
      height: 25px;
      line-height: 25px;
    }

    i {
      font-size: 20px;
      height: 21px;
      width: 20px;

      @include breakpoint ('tablet') {
        font-size: 16px;
        height: 16px;
        width: 15px;
      }

      @include breakpoint ('phone-max') {
        font-size: 16px;
        height: 17px;
        width: 20px;
      }
    }

    i,
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &--submit {
    @include breakpoint ('tablet-max') {
      padding-left: 29px;
      padding-right: 28px;
      margin-top: 18px;
    }

    @include breakpoint ('phone-max') {
      padding-left: 15px;
      padding-right: 12px;
      margin-top: 10px;
    }
  }

  &--main {
    background-color: $color-lochmara;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 16px;
    padding: 8px 36px;

    &:hover {
      background-color: $color-deep-cerulean;
      color: $color-white;
    }

    @include breakpoint ('tablet') {
      font-size: 12px;
      letter-spacing: 2.5px;
      padding: 6px 26px;
    }

    @include breakpoint ('phone-max') {
      font-size: 10px;
      letter-spacing: 2px;
      padding: 5px 22px 3px;
    }
  }

  &--project {
    color: $color-mine-shaft;
    border: 1px solid $color-lochmara;
    font-size: 12px;
    letter-spacing: 2.5px;
    padding:0 17px;
    background-color: $color-white;

    @include breakpoint('tablet') {
      font-size: 10px;
      letter-spacing: 1.8px;
      padding: 0 11px;
    }

    @include breakpoint('phone-max') {
      font-size: 10px;
      letter-spacing: 1.8px;
      padding: 0 14px;
    }

    span {
      padding-right: 7px;
      display: inline-block;
      vertical-align: middle;
    }

    i {
      color: $color-mine-shaft;
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      transition: color 350ms ease;

      @include breakpoint('tablet') {
        font-size: 10px;
      }

      @include breakpoint('phone-max') {
        font-size: 10px;
      }
    }

    &:hover {
      background-color: $color-lochmara;
      color: $color-white;

      i {
        color: $color-white;
      }
    }
  }

  &--more {
    color: $color-white;
    border: 1px solid $color-lochmara;
    font-size: 14px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    padding: 6px 37px;
    background-color: $color-lochmara;

    @include breakpoint('tablet') {
      font-size: 12px;
      letter-spacing: 2.4px;
      padding: 4px 26px;
    }

    @include breakpoint('phone-max') {
      font-size: 10px;
      letter-spacing: 2.1px;
      padding: 5px 16px 3px;
    }

    span {
      padding-right: 5px;
      display: inline-block;
      vertical-align: middle;
    }

    i {
      display: inline-block;
      vertical-align: middle;
      color: $color-white;
      font-size: 14px;
      transition: color 350ms ease;
      position: relative;
      top: -1px;

      @include breakpoint('phone-max') {
        font-size: 10px;
      }
    }

    &:hover {
      color: $color-lochmara;
      background-color: transparent;

      i {
        color: $color-lochmara;
      }
    }
  }

  &--default-blue {
    display: inline-block;
    border: 1px solid $color-lochmara;
    border-radius: 0;
    background-color: $color-white;
    color: $color-lochmara;
    @include font-size--e;
    letter-spacing: 3px;
    word-spacing: -1px;
    height: 35px;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 19px;
    padding-right: 9px;
    text-transform: uppercase;

    &:hover {
      background-color: $color-deep-cerulean;
      color: $color-white;
    }

    @include breakpoint ('tablet') {
      @include font-size--c;
      height: 30px;
      letter-spacing: 2px;
      word-spacing: 3px;
      padding-top: 8px;
      padding-bottom: 6px;
      padding-left: 14px;
    }

    @include breakpoint ('phone-max') {
      @include font-size--a;
      letter-spacing: 1px;
      word-spacing: 0;
      height: 25px;
      padding-left: 7px;
      padding-top: 7px;
      padding-bottom: 3px;
      padding-right: 7px;
    }
  }

  &--clear {
    border: 0;
    background-color: transparent;
    color: $color-mine-shaft;
    @include font-size--e;
    padding: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
