.btn {
    border-radius: 0;
    @include font-base-regular;

    &--sent,
    &--submit {
      background-color: $color-lochmara;
      border-color: $color-lochmara;
      margin-top: 11px;
      padding: 7px 37px 6px 38px;
      letter-spacing: 3px;
      @include font-size--e;
      text-transform: uppercase;

      i {
        font-size: 20px;
        height: 21px;
        width: 20px;
      }

      i,
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &--main {
      background-color: $color-lochmara;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 3px;
      line-height: 16px;
      padding: 8px 36px;

      &:hover {
        background-color: $color-deep-cerulean;
      }
    }
  }
