.contact-form__page {

  .separator-wrapper--content {

    @include breakpoint('phone-max') {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .alert--success {
    margin-top: 20px;
  }
}