.employment-form__page {

  .separator--left-content {

    &:before {
      height: 98.8%;

      @include breakpoint('tablet') {
        height: 98.6%;
      }
    }
  }

  .separator-wrapper--content {

    @include breakpoint('phone-max') {
      padding-right: 0;
      padding-left: 0;
    }
  }
}