.employment-form {

  &__title {

  }

  &__wrapper {
    margin: 0 -15px;
    font-size: 0;
  }

  .base-form {
    margin-bottom: 19px;

    @include breakpoint ('tablet') {
      margin-bottom: 12px;
    }

    @include breakpoint ('phone-max') {
      margin-bottom: 9px;
    }

    &--address {
      margin-bottom: 15px;

      @include breakpoint ('phone-max') {
        margin-bottom: 9px;
      }
    }

    &__radio-btn-group {
      margin-bottom: 22px;

      @include breakpoint ('tablet') {
        margin-bottom: 15px;
      }

      @include breakpoint ('phone-max') {
        margin-bottom: 11px;
      }
    }

    &__icon {
      right: 15px;

      @include breakpoint ('tablet') {
        right: 18px;
      }

      @include breakpoint ('phone-max') {
        right: 16px;
      }
    }
  }

  &__item {
    display: inline-block;
    padding: 0 15px;
    width:  50%;

    @media (max-width: 768px) {
      .employment-form__item {
        display: block;
        width: 100%;
      }
    }


  }
}
