.footer {
  background-color: $color-tundora;
  padding: 0 40px;
  height: 75px;
  @include clearfix;

  ul {
    margin: 0;
    float: left;
  }

  li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: block;
      font-size: 14px;
      letter-spacing: 2.8px;
      padding: 28px 0;

      &:hover {
        color: $color-lochmara;
      }

      &.active {
        font-weight: 700;
      }
    }
  }

  &__logo {
    float: right;
    width: 44px;
    height: 44px;
    margin-top: 15px;

    a {
      display: block;
    }
  }
}
