.footer {
  background-color: $color-tundora;
  padding: 0 40px;
  height: 75px;
  @include clearfix;

  @include breakpoint ('tablet') {
    padding: 0 14px;
    height: 60px;
  }

  @include breakpoint ('phone-max') {
    padding: 17px 14px;
    height: auto;
  }

  ul {
    margin: 0;
    float: left;

    @include breakpoint ('phone-max') {
      float: none;
    }
  }

  li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }

    @include breakpoint ('tablet') {
      margin-right: 24px;
    }

    @include breakpoint ('phone-max') {
      margin-right: 24px;
    }

    a {
      display: block;
      font-size: 14px;
      letter-spacing: 2.8px;
      padding: 28px 0;

      @include breakpoint ('tablet') {
        font-size: 12px;
        letter-spacing: 2.2px;
        padding: 21px 0;
      }

      @include breakpoint ('phone-max') {
        font-size: 12px;
        letter-spacing: 2.2px;
        padding: 5px 0;
      }

      &:hover {
        color: $color-lochmara;
      }

      &.active {
        font-weight: 700;
      }
    }
  }

  &__logo {
    float: right;
    width: 44px;
    height: 44px;
    margin-top: 15px;
    position: relative;

    @include breakpoint ('tablet') {
      width: 30px;
      height: 30px;
    }

    @include breakpoint ('phone-max') {
      display: none;
      float: none;
    }

    &:hover {

      .footer__logo-main {
        opacity: 0;
      }

      .footer__logo-hover {
        opacity: 1;
      }
    }

    a {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  &__logo-main {
    opacity: 1;
  }

  &__logo-hover {
    opacity: 0;

    img {
      height: auto;
    }
  }
}
