.hat {
  background-color: $color-lochmara;
  padding-top: 78px;
  padding-bottom: 40px;
  margin-bottom: 5px;
  margin-bottom: 5px;

  @include breakpoint ('tablet') {
    padding-top: 54px;
  }

  @include breakpoint ('phone-max') {
    padding-top: 20px;
    padding-bottom: 4px;
  }

  &__wrapper {
    max-width: 925px;
    margin: 0 auto;

    @include breakpoint ('tablet') {
      max-width: 626px;
    }

    @include breakpoint ('phone-max') {
      max-width: 100%;
      padding: 0 15px;
    }
  }

  &__title {

    h2 {
      font-size: 34px;
      color: $color-white;
      letter-spacing: 1.6px;
      @include font-base-medium;
      font-weight: 600;

      @include breakpoint ('tablet') {
        font-size: 30px;
      }

      @include breakpoint ('phone-max') {
        font-size: 24px;
        letter-spacing: 1.2px;
      }
    }
  }
}
