.hat {
  background-color: $color-lochmara;
  padding-top: 107px;
  padding-bottom: 40px;
  margin-bottom: 5px;

  @include breakpoint ('tablet') {
    padding-top: 54px;
  }

  @include breakpoint ('phone-max') {
    padding-top: 20px;
    padding-bottom: 4px;
  }

  &__wrapper {
    max-width: 100%;
    margin: 0 auto;

    @include breakpoint ('tablet') {
      max-width: 626px;
    }

    @include breakpoint ('phone-max') {
      max-width: 100%;
    }
  }

  .breadcrumb {
    @include breakpoint ('high') {
      max-width: 70% !important;
      margin: 0 auto;
    }

    @include breakpoint ('medium') {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  &__title {

    @include breakpoint ('high') {
      max-width: 70% !important;
      margin: 0 auto;
    }

    @include breakpoint ('medium') {
      max-width: 90%;
      margin: 0 auto;
    }

    h2 {
      font-size: 34px;
      color: $color-white;
      letter-spacing: 1.6px;
      @include font-base-medium;
      font-weight: 600;

      @include breakpoint ('tablet') {
        font-size: 30px;
      }

      @include breakpoint ('phone-max') {
        font-size: 24px;
        letter-spacing: 1.2px;
        margin-bottom: 0;
      }
    }
  }

  &__info-box {
    @include breakpoint ('high') {
      max-width: 70% !important;
      margin: 0 auto;
    }

    @include breakpoint ('medium') {
      max-width: 90%;
      margin: 0 auto;
    }

    @include breakpoint ('phone-max') {
      margin-top: 18px;
      font-size: 0;
    }
  }

  &__client,
  &__design {
    display: inline-block;
    vertical-align: top;
    max-width: 314px;

    @include breakpoint ('tablet') {
      width: 228px;
    }

    @include breakpoint ('phone-max') {
      width: 50%;
    }

    p {
      color: $color-white;
      font-size: 12px;
      margin: 0 0 8px;
      letter-spacing: 1px;

      @include breakpoint ('tablet') {
        font-size: 10px;
      }

      @include breakpoint ('phone-max') {
        font-size: 10px;
        line-height: 9px;
        margin: 0;
      }
    }

    h4 {
      color: $color-white;
      font-size: 18px;
      margin: 0;
      letter-spacing: 3.5px;
      line-height: 24px;

      @include breakpoint ('tablet') {
        font-size: 14px;
        letter-spacing: 2.8px;
        line-height: 20px;
      }

      @include breakpoint ('phone-max') {
        font-size: 14px;
        letter-spacing: 2.8px;
        line-height: 20px;
        line-height: 19px;
      }
    }

    a {
      font-size:14px;
      display: block;
      @include font-base-light;
      letter-spacing: .2px;

      @include breakpoint ('tablet') {
        font-size: 12px;
        letter-spacing: .1px;
      }

      @include breakpoint ('phone-max') {
        font-size: 12px;
        letter-spacing: .1px;
      }

      i {
        margin-left: 4px;
      }
    }
  }
  
  a h4:hover {
      color: black;
  }

  &__design {

    @include breakpoint ('phone-max') {
      padding-left: 10px;
    }
  }

  &__client {
    margin-right: 95px;

    @include breakpoint ('tablet') {
      margin-right: 63px;
    }

    @include breakpoint ('phone-max') {
      padding-right: 10px;
      margin-right: 0;
    }
  }
}
