.hat {
  background-color: $color-lochmara;
  padding-top: 107px;
  padding-bottom: 40px;
  margin-bottom: 5px;

  @include breakpoint ('tablet') {
    padding-top: 54px;
  }

  @include breakpoint ('phone-max') {
    padding-top: 20px;
    padding-bottom: 4px;
  }

  &__wrapper {
    max-width: 925px;
    margin: 0 auto;

    @include breakpoint ('tablet') {
      max-width: 626px;
    }

    @include breakpoint ('phone-max') {
      max-width: 100%;
    }
  }

  &__title {

    h2 {
      font-size: 34px;
      color: $color-white;
      letter-spacing: 1.6px;
      @include font-base-medium;
      font-weight: 600;

      @include breakpoint ('tablet') {
        font-size: 30px;
      }

      @include breakpoint ('phone-max') {
        font-size: 24px;
        letter-spacing: 1.2px;
      }
    }
  }

  &__client,
  &__design {
    display: inline-block;
    vertical-align: top;
    max-width: 314px;

    p {
      color: $color-white;
      font-size: 12px;
      margin: 0 0 8px;
      letter-spacing: 1px;

      @include breakpoint ('tablet') {
        font-size: 10px;
      }
    }

    h4 {
      color: $color-white;
      font-size: 18px;
      margin: 0;
      letter-spacing: 3.5px;
      line-height: 24px;

      @include breakpoint ('tablet') {
        font-size: 14px;
      }
    }

    a {
      font-size:14px;
      display: block;
      @include font-base-light;
      letter-spacing: .2px;

      @include breakpoint ('tablet') {
        font-size: 12px;
      }
    }
  }

  &__client {
    margin-right: 95px;
  }
}
