.header {
  padding: 0 12px;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 5;

  @include breakpoint ('phone-max') {
    display: none;
  }

  ul {
    margin: 0 0 22px;
    text-align: right;

    @include breakpoint ('tablet') {
      margin: 0 0 17px;
    }
  }

  li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;

    a {
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2.5px;

      @include breakpoint ('tablet') {
        font-size: 10px;
        letter-spacing: 2px;
      }

      &:hover {
        color: $color-lochmara;
      }

      &.active {
        @include font-base-bold;
      }
    }
  }

  &__circle {
    width: 3px;
    height: 3px;
    background-color: $color-black;
    border-radius: 50%;
    margin: 0 8px;

    @include breakpoint ('tablet') {
      margin: 0 9px;
    }
  }

  &__logo {
    text-align: center;
  }

  &__logo-desktop {
    display: none;

    @include breakpoint ('large') {
      display: inline-block;
    }
  }

  &__logo-tablet {
    display: none;

    @include breakpoint ('tablet') {
      display: inline-block;
    }
  }
}

