.header-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  @include clearfix;
  padding: 3px 13px 0;
  display: none;

  @include breakpoint ('phone-max') {
    display: block;
  }

  &__logo {
    float: left;
    width: 50%;
  }

  &__menu {
    float: right;
    width: 50%;
    text-align: right;

    a {

      &:hover {
        color: $color-white;
      }
    }

    span {
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1.8px;
      display: inline-block;
      vertical-align: bottom;
    }

    i {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
    }
  }
}
