.line {
  .hat {
    background-color: $color-lochmara;
    padding-top: 27px;
    padding-bottom: 0;

    &__wrapper {
      padding-top: 106px;
      padding-bottom: 42px;

      @include breakpoint ('tablet') {
        padding-top: 82px;
      }

      @include breakpoint ('phone-max') {
        padding-top: 20px;
      }
    }

    &__container {
      max-width: 925px;
      margin: 0 auto;
      position: relative;

      @include breakpoint ('tablet') {
        max-width: 626px;
      }

      @include breakpoint ('phone-max') {
        max-width: 100%;
      }
    }
  }

  .hat-nav {
    display: none;
  }

  &__contact-form {
    .separator--top-header:before {
      width: 99.94%;

      @include breakpoint ('tablet') {
        width: 99.87%;
      }
    }
  }

  &__applications-wrapper {
    .separator {
      &--left-employment {
        &:before {
          height: 100%;
        }
      }

      &--top-header {
        &:before {
          @include breakpoint ('tablet') {
             width: 99.899%;
          }
        }
      }
    }
  }
}
