.navigation {
  position: relative;
  z-index: 1;

  @include breakpoint ('tablet') {
    max-width: 626px;
    margin: 0 auto;
  }

  &__main {
    text-align: center;
    font-size: 0;

    @include breakpoint ('phone') {
      display: none;
    }

    li {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid $color-white;
      border-right: none;

      @include breakpoint ('tablet') {
        width: 20%;
      }

      &:last-child {
        border-right: 1px solid $color-white;
      }
    }

    a {
      display: block;
      background-color: $color-nepal;
      text-transform: uppercase;
      padding: 14px 12px;
      font-size: 12px;
      letter-spacing: 2.3px;
      @include font-base-bold;

      @include breakpoint ('tablet') {
        font-size: 10px;
        padding: 3px 10px 1px;
      }

      &:hover {
        background-color: $color-white;
        color: $color-lochmara;
      }
    }
  }
}
