.navigation {
  position: relative;
  z-index: 3;

  @include breakpoint ('tablet') {
    max-width: 626px;
    margin: 0 auto;
  }

  &--inside {

    .navigation__main {

      a {
        background-color: $color-lochmara;

        &:hover {
          background-color: $color-white;
          color: $color-lochmara;
        }
      }
    }
  }

  &__main {
    text-align: center;
    font-size: 0;

    @include breakpoint ('phone-max') {
      display: none;
    }

    li {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid $color-white;
      border-right: none;

      @include breakpoint ('high') {
        width: 14% !important;
      }

      @include breakpoint ('medium') {
        width: 18%;
        white-space: nowrap;
      }

      @include breakpoint ('tablet') {
        width: 20%;
      }

      &:last-child {
        border-right: 1px solid $color-white;
      }

      &.active {

        a {
          @include font-base-bold;
        }
      }
    }

    a {
      display: block;
      background-color: $color-nepal;
      text-transform: uppercase;
      padding: 14px 8px;
      font-size: 12px;
      letter-spacing: 2.3px;
      @include font-base-medium;

      @include breakpoint ('tablet-desktop') {
        font-size: 10px;
        padding: 14px 2px;
      }

      @include breakpoint ('tablet') {
        font-size: 10px;
        padding: 3px 10px 1px;
      }

      &:hover {
        background-color: $color-lochmara;
        color: $color-white;
      }
    }
  }

  &__dropdown {
    max-width: 290px;
    margin: 0 auto;
    display: none;

    @include breakpoint ('phone-max') {
      display: block;
    }

    &.open {

      button {
        background-color: $color-white!important;
        color: $color-black!important;
        outline: none!important;
      }
    }

    button {
      width: 100%;
      border: 1px solid $color-white;
      background-color: transparent;
      color: $color-white;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 2.8px;
      @include font-base-bold;
      padding: 5px 12px 4px;

      &:hover {
        background-color: $color-white!important;
        color: $color-lochmara!important;
        outline: none!important;
        border: 1px solid $color-white;

        .caret {

          i {
            color: $color-lochmara;
          }
        }
      }

      &:active,
      &:focus {
        background-color: $color-white!important;
        color: $color-black!important;
        outline: none!important;

        .caret {

          i {
            display: none;
          }
        }
      }
    }

    .dropdown-menu {
      width: 100%;
      border-radius: 0;
      text-align: center;
      margin: 0;
      box-shadow: none;
      border: 1px solid $color-mercury;
      border-top: none;
      padding: 0;

      li {
        border-top: 1px solid $color-mercury;
      }

      a {
        font-size: 12px;
        color: $color-black;
        padding: 6px 0;
        letter-spacing: 2.2px;

        &:hover {
          background-color: $color-white;
          color: $color-lochmara;
        }
      }
    }

    .caret {
      border: none;
      width: auto;
      height: auto;
      position: relative;
      top: 3px;

      i {
        color: $color-white;
      }
    }
  }

  .open > .btn-default.dropdown-toggle {
    background-color: $color-white!important;
    color: $color-black!important;
    outline: none!important;
    border: 1px solid $color-mercury;
    border-bottom: none;

    .caret {

      i {
        display: none;
      }
    }
  }
}
