.project-page {

  .hat {
    margin-bottom: 0;
  }

  .project {
    margin: 0 19px;
  }

  .project__line-first {
    transform: rotate(90deg);
    transform-origin: 100% 100%;
    left: auto;
    bottom: 0;
    right: 1px;
  }

  .project__text {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    right: auto;
    left: -7px;
    top: 153px;

    @include breakpoint('tablet') {
      left: -5px;
      top: 144px;
    }
  }

  .project__line-third {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    width: 55px;
    right: auto;
    left: 0;
    top: 55px;
  }

  .project__line-fourth {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    width: 55px;
    right: auto;
    left: 0;
    bottom: -20px;
  }
}