---
layout: home_page
title: Home
header: Home
group: navigation
permalink: /
order: 1
---
<div class="banner">
  {% include up_applications_navigation.liquid %}
  <div class="banner__line-box">
    <hr class="banner__line-first">
    <div class="banner__text">architectural sign FABRICATION</div>
    <hr class="banner__line-second">
  </div>
  <div class="banner__image" style="background-image: url('{{ src | asset_path : "banner.jpg" }}')"></div>
  <div class="banner__inner">
    <div class="banner__box">
    <div class="banner__title">
    <h1>Urban Sign is a national leader in architectural sign fabrication.</h1>
  </div>
  <div class="banner__description">
    <span>We partner with innovative clients and designers, building a</span> <span>reputation for excellence across a wide variety of sign, exhibition</span> <span>and place-making projects.</span>
  </div>
  <div class="banner__btn">
    <a href="/contact-form/" class="btn btn--main">Contact Us</a>
  </div>
  </div>
  <div class="banner__arrow">
    <a class="banner__arrow-link" href="#about-us"><i class="icon-angle-down"></i></a>
  </div>
  </div>
</div>
<div class="about-us" id="about-us">
  <div class="about-us__line-box">
    <hr class="about-us__line-first">
    <hr class="about-us__line-second">
    <hr class="about-us__line-third">
    <div class="about-us__text">About us</div>
    <hr class="about-us__line-fourth">
    <hr class="about-us__line-fifth">
  </div>
  <div class="about-us__wrapper">
    <div class="about-us__left">
      <div class="about-us__image" style="background-image: url('{{ src | asset_path : "devis.jpg" }}')"> </div>
    </div>
    <div class="about-us__right">
      <div class="about-us__title">
        Expertise in <span>quality</span> construction.
      </div>
      <div class="about-us__description">
        Urban Sign brings a value-based approach and expertise in quality construction methodologies to every project. We consider each project a unique opportunity to create a long-term partnership with our client - whether working on a single sign or a complex, multi-tiered signage solution.
      </div>
      <div class="about-us__author">
         - SETH DAVIS, FOUNDER
      </div>
    </div>
  </div>
  <ul class="about-us__info">
    <li class="about-us__item">
      <a href="javascript:void(0);">12</a>
      <span>Design Partners</span>
    </li>
    <li class="about-us__item">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          6 &or;
        </button>
        <ul class="dropdown-menu dropdown-menu-2" aria-labelledby="dropdownMenu2">
          <li style=''><i class="icon-civic"></i>Civic</li>
          <li><i class="icon-corperate"></i>Corporate</li>
          <li><i class="icon-destination"></i>Destination</li>
          <li><i class="icon-entertainment"></i>Entertaiment</li>
          <li><i class="icon-health-care"></i>Health care</li>
          <li><i class="icon-education"></i>Higher education</li>
        </ul>
      </div>
      <span>Industries</span>
    </li>
    <li class="about-us__item">
      <a href="javascript:void(0);">2003</a>
      <span>Founded</span>
    </li>
  </ul>
</div>

{% include down_applications_navigation.liquid %}
