---
layout: default
title: Home
header: Home
group: navigation
permalink: /
order: 1
---

<div class="banner">
  {% include up_applications_navigation.liquid %}
  <div class="banner__image" style="background-image: url('{{ src | asset_path : "banner.jpg" }}')"></div>
  <div class="banner__inner">
    <div class="banner__box">
    <div class="banner__title">
    <h1>Urban Sign is a national leader in architectural sign fabrication.</h1>
  </div>
  <div class="banner__description">
    We partner with innovative clients and designers, building a reputation for excellence across a wide variety of sign, exhibition and place-making projects.
  </div>
  <div class="banner__btn">
    <a href="/contact-form/" class="btn btn--main">Contact Us</a>
  </div>
  </div>
  <div class="banner__arrow">
    <a href=""><i class="icon-angle-down"></i></a>
  </div>
  </div>
</div>
<div class="about-us">
  <div class="about-us__wrapper">
    <div class="about-us__left">
      <div class="about-us__image" style="background-image: url('{{ src | asset_path : "photo.jpg" }}')"> </div>
    </div>
    <div class="about-us__right">
      <div class="about-us__title">
        Expertise in <span>quality</span> construction.
      </div>
      <div class="about-us__description">
        Urban Sign brings a value-based approach and expertise in quality construction methodologies to every project. We consider each project a unique opportunity to create a long-term partnership with our client - whether working on a single sign or a complex, multi-tiered signage solution.
      </div>
      <div class="about-us__author">
         - SETH DAVIS, FOUNDER
      </div>
    </div>
  </div>
  <ul class="about-us__info">
    <li><a href="">2003</a><span>Founded</span></li>
    <li><a href="">12</a><span><m class="hidden-xs">DESIGN</m> PARTNERS</span></li>
    <li><a href="">6</a><span>INDUSTRIES</span></li>
  </ul>
</div>

{% include down_applications_navigation.liquid %}

{% include have_project.liquid %}
