---
layout: default
---
{% include header_inside_pages.liquid %}
{% include header_mobile.liquid %}
<div class="hat">
  <div class="hat__wrapper">
    {% include hat.liquid %}
  </div>
</div>

<div class="container application-item application-item__container">
  <div class="row">
    {{ content }}
  </div>
</div>

<div class="PageNavigation container application-item application-item__container--full-width">
  <div class="application-item__container--border application-item__post-nav">
    <div class="row">
      {% if page.previous.url %}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
        <a class="prev иtn btn--clear" href="{{page.previous.url}}">
          <i class="icon-angle-left"></i>
          <span>{{page.previous.title}}</span>
        </a>
      </div>

      {% endif %}
      {% if page.next.url %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
          <a class="next btn btn--clear" href="{{page.next.url}}">
            <i class="icon-angle-right visible-xs text-right"></i>
            <span>{{page.next.title}} </span>
            <i class="icon-angle-right hidden-xs"></i>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>


<!-- <div class="container application-item application-item__container--full-width">
      <div class="row application-item__post-nav post-nav">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <a href="" class="btn btn--clear">
            <span>
              <i class="icon-angle-left"></i>
              <span class="post-nav__title"></span>
            </span>
          </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
      </div>
    </div> -->
