---
layout: default
---

<div class="line line__applications-wrapper">
  {% include header_inside_pages.liquid %}
  {% include header_mobile.liquid %}
  <div class="hat">
    <div class="separator-wrapper separator-wrapper--header">
      <div class="separator separator--left-header ">
        <div class="hat__wrapper">
          <div class="hat__container">
            {% include hat.liquid %}
          </div>
        </div>
        <div class="separator separator--white separator--top-header hidden-xs"></div>
        <div class="separator separator--white separator--right-small hidden-xs"></div>
      </div>
    </div>
  </div>
</div>



<div class="separator-wrapper separator-wrapper--content">
  <div class="separator separator--black separator--left-employment">
    <div class="about__title-vertical about__title-vertical--right about__title-vertical--right-app about__title-vertical--black"><span>Case Study</span></div>
    <div class="container application-item application-item__container">
      <div class="row">
        {{ content }}
        <div class="clearfix"></div>
        <div class="application-item__page-nav">
          <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
            <a href="{% for node in site.posts %}{% if node.url == page.url %}/application/{{ node.folder }}/{% endif %}{% endfor %}" class="btn btn--clear">
              <i class="icon-angle-left"></i>
              <span>Back</span>
            </a>
          </div>
          <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6 application-item__social-links text-right">
            <span>share</span>
            <ul class="list-unstyled">
              <li>
                <a href="">
                  <i class="icon-facebook-square"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="icon-twitter-square"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="icon-linkedin-square"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="PageNavigation container application-item application-item__container--full-width">
  <div class="application-item__container--border application-item__post-nav">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
      {% for post in site.posts %}
        {% if page.previous.url == post.url %}
          {% assign my_array = page.previous.url | split: '/' %}
          {% if my_array.size == 4 %}
            {% if page.url contains post.folder %}
              <a class="prev btn btn--clear" href="{{page.previous.url}}">
                <i class="icon-angle-left"></i>
                <div class="application-item__info-box application-item__info-box--left">
                  <div class="application-item__title">{{page.previous.title}}</div>
                  <div class="application-item__client">{{page.previous.client.name}}</div>
                </div>
              </a>
            {% else %}
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                  <span></span>
                </a>
              </div>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        {% for post in site.posts %}
          {% if page.next.url == post.url %}
            {% assign my_array = page.next.url | split: '/' %}
            {% if my_array.size == 4 %}
              {% if page.url contains post.folder %}
                <a class="next btn btn--clear" href="{{page.next.url}}">
                  <i class="icon-angle-right visible-xs text-right"></i>
                  <div class="application-item__info-box application-item__info-box--right">
                    <div class="application-item__title">{{page.next.title}}</div>
                    <div class="application-item__client">{{page.next.client.name}}</div>
                  </div>
                  <i class="icon-angle-right hidden-xs"></i>
                </a>
              {% else %}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                    <span></span>
                  </a>
                </div>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

