---
layout: default
title: Contact
header: Contact Form
group: navigation
permalink: /contact-form/
order: 4
---

<div class="line line__contact-form">
  {% include header_inside_pages.liquid %}
  {% include header_mobile.liquid %}
  <div class="hat">
    <div class="separator-wrapper separator-wrapper--header">
      <div class="separator separator--left-header">
        <div class="hat__wrapper">
          <div class="hat__container">
            {% include hat.liquid %}

            {% include hat_nav.liquid %}
          </div>
        </div>
        <!-- /.hat__wrapper -->
        <div class="separator separator--white separator--top-header hidden-xs"></div>
        <div class="separator separator--white separator--right-small hidden-xs"></div>
      </div>
  </div>
</div>

<div class="separator-wrapper separator-wrapper--content">
  <div class="separator separator--black separator--left-content">
    <div class="about__title-vertical about__title-vertical--right about__title-vertical--black"><span>Contact</span></div>
    <div class="contact">
      <div class="container contact-form">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group contact-form__btn-group" role="group" aria-label="...">
              <a class="btn btn--default-blue  is-active">
                <span>Contact form</span>
              </a>
              <a class="btn btn--default-blue" href="{{ BASE_PATH }}/employment-form/">
                <span>Employment Form</span>
              </a>
            </div>
          </div>
        </div>
        <!--  /.row -->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="contact-form__info">
              <h2 class="contact-form__title">Contact form</h2>
              <p class="alert alert--info">
                Fill in the form below or call us on
                <a href="tel:856 691 8388">856-691-8388</a>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
              </p>
            </div>
            <!-- /.contact-info -->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form id="form-contact" class="contact-form__form-container base-form" action="https://getsimpleform.com/messages?form_api_token=cf3234bb0cf33ba5d786c4c19c93aab2" method="post">
              <p class="alert alert--default">
                <i class="icon-required"></i>
                <span>Required fields!</span>
              </p>
              <p class="alert alert--danger">
                <i class="icon-x"></i>
                <span>Required fieldsnot filled out!</span>
              </p>
              <div class="form-group js-validation base-form__item">
                <input type="text" class="form-control input input--default" minlength="3" placeholder="Name" id="name" name="name" required>
                <div class="base-form__icon">
                  <i class="icon-required"></i>
                  <i class="icon-check"></i>
                  <i class="icon-x"></i>
                </div>
              </div>
              <div class="form-group base-form__item">
                <input type="text" class="form-control input input--default" placeholder="Company" name="company" >
              </div>
              <div class="form-group js-validation base-form__item">
                <input type="email" class="form-control input input--default" placeholder="Email" id="email" name="email" required>
                <div class="base-form__icon">
                  <i class="icon-required"></i>
                  <i class="icon-check"></i>
                  <i class="icon-x"></i>
                </div>
              </div>
              <div class="form-group js-validation base-form__item">
                <input type="tel" class="form-control input input--default" placeholder="Phone" id="phone" name="phone" required>
                <div class="base-form__icon">
                  <i class="icon-required"></i>
                  <i class="icon-check"></i>
                  <i class="icon-x"></i>
                </div>
              </div>
              <div class="form-group js-validation base-form__item">
                <textarea class="form-control" rows="3" placeholder="Message" name="text" required></textarea>
                <div class="base-form__icon base-form__icon--textarea">
                  <i class="icon-required"></i>
                  <i class="icon-check"></i>
                  <i class="icon-x"></i>
                </div>
              </div>

              <div class="g-recaptcha" data-sitekey="6LdiTCgTAAAAAJ3TtsOPj2PQvve_qkHDLksb4fIp" data-callback="" required></div>
                <input type='hidden' name='redirect_to' value="{{site.url}}/contact-form?success=true"/>


                {% if page.url == '/contact-form/' %}
                  <button type="submit" class="btn btn-primary btn--sent">
                    <span>Send</span>
                    <i class="icon-send"></i>
                  </button>
                {% else %}
                  <p class="alert alert--success">
                    <i class="icon-check"></i>
                    Your message has been successfully sent
                  </p>
                {% endif %}
            </form>

              <p class="alert alert--success">
                <i class="icon-check"></i>
                Your message has been successfully sent
              </p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
            <div class="contact-form__details">
              <h4 class="contact-form__subtitle">Urban sign</h4>
              <div class="address">
                <span class="address__item">Deliveries:</span>
                <span class="address__item">527 East Chestnut Avenue,</span>
                <span class="address__item">Mailing:</span>
                <span class="address__item">PO Box 640</span>
                <span class="address__item">New Jersey 08362</span>
              </div>
              <ul class="list-unstyled contacts">
                <li class="contacts__item">
                  Phone: <a href="tel:856 691 8388">856-691-8388</a>
                </li>
                <li class="contacts__item">
                  Fax <a href="tel:856 692 8688">856-692-8688</a>
                </li>
                <li class="contacts__item">
                  Email: <a class="text-email" href="mailto:info@urbansigncompany.com">info@urbansigncompany.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator--bottom-content hidden-xs"></div>
    <div class="separator separator--left-small separator--left-small-content hidden-xs"></div>
  </div>
</div>




