{% for node in site.pages %}
  {% if page.url == node.url %}
    {% if page.url != '/'%}
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{{node.url}}">{{node.title}}</a></li>
      </ol>
    {% endif %}
  {% endif %}
{% endfor %}