<div class="card">

  {% for post in site.categories.exterior-signs %}
    <div class="card__container">
      <div class="card__box">
        <div class="card__item">
          <div class="card__image" style="background-image: url('{{ src | asset_path : "plate-1.jpg" }}')">
            <div class="card__photo"><span>4</span><i class="icon-camera"></i></div>
          </div>
          <div class="card__title">
            {{ post.title }}
          </div>
          <div class="card__description">
            {{ post.title }}
          </div>
          <div class="card__btn">
            <a href="{{ post.url }}" class="btn btn--project"><span>see project</span><i class="icon-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
