<div class="card">
  <div class="card__container">
    <div class="card__box">
      {% for post in site.categories.exterior-signs | limit: 6 %}
        {% include card_box_generator.liquid %}
      {% endfor %}
    </div>
    <div class="card__more">
      <a href="" class="btn btn--more"><span>More Projects</span><i class="icon-arrow-down"></i></a>
    </div>
  </div>
</div>