<div class="subscribe">
  <div class="subscribe__left">
    <h3>SUBSCRIBE</h3>
    <p>Sign up for Project Updates!</p>
    <div class="subscribe__form">
      <form action="">
        <input type="text" placeholder="YOUR EMAIL ADRESS">
        <button type="submit"><i class="icon-send"></i></button>
      </form>
    </div>
  </div>
  <div class="subscribe__right">
    <ul class="subscribe__adress">
      <li>
        <span>PO Box 640</span>
        <span>Vineland, New Jersey, 08362</span>
      </li>
      <li>
        <span>527 East Chestnut Avenue</span>
        <span>Vineland, New Jersey, 08360</span>
      </li>
    </ul>
    <ul class="subscribe__contact">
      <li><a href="mailto:info@urbansigncompany.com">info@urbansigncompany.com</a></li>
      <li><a href="tel:856 691 8388">856 691 8388 (Phone)</a></li>
      <li><a href="tel:856 692 8688">856 692 8688 (Fax)</a></li>
    </ul>
  </div>
  <div class="subscribe__logo">
    <a href="">{{ src | img : "linkedin-mobile.png" }}</a>
  </div>
</div>
