<div class="hat">
  <div class="hat__wrapper">
    {% include up_applications_navigation.liquid %}

    {% include breadcrumb.liquid %}
    <div class="hat__title">
      <h2>Applications</h2>
    </div>
  </div>
</div>
