<div class="hat-nav">
  <div class="hat-nav__wrapper">
    {% include navigation.liquid %}

    {% include breadcrumb.liquid %}
    <div class="hat-nav__title">
      {% for node in site.categories.application  %}
      {% if node.url == page.url %}
        <h2>{{ node.title }}</h2>
        <a href="" class="hat-nav__arrow hat-nav__arrow--left"><i class="icon-angle-left"></i></a>
        <a href="" class="hat-nav__arrow hat-nav__arrow--right"><i class="icon-angle-right"></i></a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="hat-nav__description">
      Exterior signage brings an organization’s brand to the street and helps visitors find their way. Urban Sign marries fabrication & engineering experience with project management expertise to bring large-scale projects in on-time and on- budget.
    </div>
  </div>
</div>
