<div class="project">
  <div class="project__line-box">
    <hr class="project__line-first">
    <hr class="project__line-second">
    <hr class="project__line-third">
    <div class="project__text">Contact</div>
    <hr class="project__line-fourth">
  </div>
  <div class="project__description">
    Have a project in mind?
  </div>
  <div class="project__btn">
    <a href="/contact-form/" class="btn btn--main">Get in touch</a>
  </div>
</div>
