<div class="project">
  <div class="about__separator-wrapper hidden-xs">
    <div class="about__title-vertical about__title-vertical--right about__title-vertical--black"><span>Contact</span></div>
    <div class="about__separator about__separator--right hidden-xs"></div>
  </div>
  <div class="project__description">
    Have a project in mind?
  </div>
  <div class="project__btn">
    <a href="/contact-form/" class="btn btn--main">Get in touch</a>
  </div>
</div>
