<div class="project">
  <div class="project__description">
    Have a project in mind?
  </div>
  <div class="project__btn">
    <a href="/contact-form/" class="btn btn--main">Get in touch</a>
  </div>
</div>
