<div class="header-mobile header-mobile--black">
  <div class="header-mobile__logo">
    <a href="">
      {{ src | img : "logo-mobile.png" }}
    </a>
  </div>
  <div class="header-mobile__menu">
    <a href=""><span>Menu</span><i class="icon-menu"></i></a>
  </div>
</div>
