<div class="menu">
  <a href="javascript:void(0);" class="menu__btn js-menu"><span>Menu</span><i class="icon-x"></i></a>
  <div class="menu__table">
    <div class="menu__table-cell">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
          <a href="/applications/">Applications</a>
        </li>
        <li>
          <a href="/contact-form/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
