body {
  font-weight: 300;
}

a,
button {
  transition: all 300ms ease;
}

a {
  color: $color-white;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    word-wrap: break-word;
  }
}

img {
  margin: 0;
  max-width: 100%;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
span {
  font-weight: 300;
}





